.box1 {
    background-image: url(/Images/Rectangle\ 1.jpeg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    height: 754px;
    left: 0px;
    top: 0px;
    right: 0px
}

/* .nav_bar { 
display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 603px;
    height: 20px;
    left: 584px;
    top: 45px;
} */



#abc {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.nav_bar {
    background: transparent;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #0005;
    line-height: 50px;
}

nav ul {
    float: right;
    margin-right: 30px;

    padding: 10px 20px;
    gap: 10px;


}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-decoration: solid;
    margin: 20px;
    font-size: x-large;
}

#btn1 {
    background: #ff4500;
    color: white;
    border-radius: 5px;
    width: 91px;
    height: 40px;
    size: 30px;
    border: 0px;

    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

#btn2 {
    background: orangered;
    color: white;
    border-radius: 3px;
    /* float: right; */
    /* align-items: flex-end; */
    border: 0px;
    position: absolute;
    width: 136px;
    height: 61px;
    left: 484px;
    top: 535px;
    margin-top: 5px;
    margin-right: 5px;
    background: #F84646;
    border-radius: 8px;
}

h1 {
    position: absolute;
    width: 665px;
    height: 164px;
    left: 122px;
    top: 200px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
    color: #000000;
}

h3 {
    position: absolute;
    width: 650px;
    height: 99px;
    left: 122px;
    top: 384px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */

    letter-spacing: 0.2px;

    color: #000000;
}

.search{
    position: absolute;
    width: 502px;
    height: 73px;
    left: 122px;
    top: 533px;
    border: none;

    background: #FFFFFF;
    border-radius: 8px;
}

.b2 {
    position: absolute;
    width: 428px;
    height: 56px;
    margin: auto;
    top: 740px;
    left: 460px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}

.b3 {
    position: absolute;
    width: 600px;
    height: 109px;
    margin: auto;
    left: 370px;
    top: 810px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 165% */

    text-align: center;
    letter-spacing: 0.2px;

    color: #000000;
}


.middle
{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 920px;
    
}

.box2{
    border: 2px solid red;
    width: auto;
    margin: auto;
}
.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    /* width: 200px;
    margin: 0 auto; */
  }

  .grid{
      width: 75%;
      margin: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;

}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 900px;
    height: 400px;
    margin: 0 auto;
}
.card{
    width: 200px;
    margin: auto;
}
.title{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.description{
    margin: auto;
    margin-top: 5px;
    font-weight: normal;
    width: 100px;
    text-align: center;
}
.logo{
    margin: auto;
    margin-top: 3px;
    width: 40px;
    height: 40px;
}
.logo img{
    width: 40px;
    height: 40px;
}
.container2{
    position: absolute;
    top: 1360px;
    width: 100%;
    height: 200px;
    border: 2px solid red;
    background-color: rgb(252, 69, 69);
    color: white;

}
.heading{
    text-align: center;
    font-weight: bolder;
    font-size: 34px;
}
.heading2{
    font-size: 16px;
    font-weight: normal;
    margin-top: -25px;
    text-align: center;
}
.textbox{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.text{
    font-weight: normal;
    width: 100px;
}